<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zealon.book.system.org.dao.OrgDeptMapper" >
  <resultMap id="BaseResultMap" type="cn.zealon.book.system.org.entity.OrgDept">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sort_number" jdbcType="INTEGER" property="sortNumber" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, sort_number, creater, create_time, update_time, updater
  </sql>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from org_dept
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="cn.zealon.book.system.org.entity.OrgDept">
    insert into org_dept (id, name, sort_number,
      creater, create_time, update_time,
      updater)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sortNumber,jdbcType=INTEGER},
      #{creater,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
      #{updater,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="cn.zealon.book.system.org.entity.OrgDept">
    update org_dept
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sortNumber != null">
        sort_number = #{sortNumber,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null">
        updater = #{updater,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from  org_dept
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from org_dept
    order by sort_number
  </select>


  <select id="selectAllCount" resultType="Integer">
    select count(1)
    from org_dept
  </select>

</mapper>