<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zealon.book.system.org.dao.OrgPermissionMapper">

    <resultMap id="BaseResultMap" type="cn.zealon.book.system.org.entity.OrgPermission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="type" jdbcType="VARCHAR" property="type" />
        <result column="page_path" jdbcType="VARCHAR" property="pagePath" />
        <result column="resource_url" jdbcType="VARCHAR" property="resourceUrl" />
        <result column="permission" jdbcType="VARCHAR" property="permission" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="sort_number" jdbcType="INTEGER" property="sortNumber" />
        <result column="has_children" jdbcType="BIT" property="hasChildren" />
        <result column="creater" jdbcType="VARCHAR" property="creater" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="updater" jdbcType="VARCHAR" property="updater" />
    </resultMap>

    <sql id="Base_Column_List">
      id, parent_id, name, type, resource_url, permission, icon, sort_number, creater,
      create_time, update_time, updater ,has_children ,page_path
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from org_permission
      where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="cn.zealon.book.system.org.entity.OrgPermission">
      insert into org_permission (id, parent_id, name,
        type, resource_url, permission,
        icon, sort_number, creater,
        create_time, update_time, updater ,has_children ,page_path
        )
      values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR},
        #{type,jdbcType=VARCHAR}, #{resourceUrl,jdbcType=VARCHAR}, #{permission,jdbcType=VARCHAR},
        #{icon,jdbcType=VARCHAR}, #{sortNumber,jdbcType=INTEGER}, #{creater,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{updater,jdbcType=VARCHAR},0,#{pagePath}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.zealon.book.system.org.entity.OrgPermission">
        update org_permission
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="resourceUrl != null">
                resource_url = #{resourceUrl,jdbcType=VARCHAR},
            </if>
            <if test="permission != null">
                permission = #{permission,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="sortNumber != null">
                sort_number = #{sortNumber,jdbcType=INTEGER},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updater != null">
                updater = #{updater,jdbcType=VARCHAR},
            </if>
            <if test="hasChildren != null ">
                has_children = #{hasChildren},
            </if>
            <if test="pagePath != null">
                page_path = #{pagePath,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="selectById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  org_permission
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  org_permission
        <where> 1=1
            <if test="parentId != null" >
                and parent_id = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="type != null and type != ''" >
                and type = #{type}
            </if>
        </where>
        order by sort_number
    </select>

    <select id="selectAllCount" resultType="Integer">
        select count(1)
        from org_permission
        <where> 1=1
            <if test="parentId != null and parentId != ''" >
                and parent_id = #{parentId,jdbcType=INTEGER}
            </if>
        </where>
    </select>

    <select id="selectUserMenusByParentId" resultType="cn.zealon.book.system.org.vo.MenuVO">
        select id,name,resource_url path,icon
        from org_permission
        where parent_id = #{parentId} and sort_number > -1
        and id in
        <foreach collection="list" item="pid" separator="," open="(" close=")">
            #{pid}
        </foreach>
        order by sort_number
    </select>

    <select id="selectUserPermissions" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from org_permission
        where id in
        <foreach collection="list" item="pid" separator="," open="(" close=")">
            #{pid}
        </foreach>
    </select>
</mapper>