<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zealon.book.system.org.dao.OrgRolePermissionMapper">

    <resultMap id="BaseResultMap" type="cn.zealon.book.system.org.entity.OrgRolePermission">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="permission_id" jdbcType="INTEGER" property="permissionId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, permission_id, role_id
    </sql>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into org_role_permission (permission_id, role_id)
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.permissionId,jdbcType=VARCHAR}, #{item.roleId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteByRoleId" parameterType="Integer">
      delete from org_role_permission
      where role_id = #{roleId}
    </delete>

    <select id="selectByRoleId" parameterType="Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  org_role_permission
        where role_id = #{roleId}
    </select>
</mapper>