<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zealon.book.system.org.dao.OrgUserRoleMapper">

    <resultMap id="BaseResultMap" type="cn.zealon.book.system.org.entity.OrgUserRole">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="role_id" jdbcType="INTEGER" property="roleId" />
    </resultMap>

    <sql id="Base_Column_List">
      id, user_id, role_id
    </sql>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into org_user_role (user_id, role_id )
        values
        <foreach collection="list" item="item" index="index" separator="," >
            (#{item.userId,jdbcType=VARCHAR}, #{item.roleId,jdbcType=INTEGER})
        </foreach>
    </insert>

    <delete id="deleteByUserId" parameterType="java.lang.String">
      delete from org_user_role
      where user_id = #{userId}
    </delete>

    <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from  org_user_role
        where user_id = #{userId}
    </select>
</mapper>